@{
    ViewData["Title"] = "Mudança de Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #logoutLink{
        display:none;
    }

    .form-control:focus {
        box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5);
    }
</style>

<div class="row d-flex align-items-center justify-content-center">
    <div class="col-6 align-middle d-inline-block changePwCol">
        <div class="card shadow-sm border-light p-3">
            <div class="card-body pt-0">
                <form class="text-center" asp-action="NovaPassword" method="POST">
                    <h2 class="font-weight-bold">Alterar Password</h2>
                    <div id="error400" class="alert alert-danger d-none text-center" role="alert">Os dados inseridos estão incorretos!</div>
                    <div id="error404" class="alert alert-danger d-none text-center" role="alert">Não é possível aceder ao servidor, tente mais tarde!</div>
                    <div id="nomatch" class="alert alert-danger d-none text-center" role="alert">As passwords não coíncidem!</div>
                    <div class="form-group">
                        <label for="email" class="font-weight-bold float-left">E-mail</label>
                        <input type="email" name="email" class="form-control border-danger" id="email">
                    </div>
                    <div class="form-group">
                        <label for="password" class="font-weight-bold float-left">Password Atual</label>
                        <input type="password" name="pw" class="form-control border-danger" id="password">
                    </div>
                    <div class="form-group">
                        <label for="passwordNew" class="font-weight-bold float-left">Password Nova</label>
                        <input type="password" name="newpw" class="form-control border-danger" id="passwordNew">
                    </div>
                    <div class="form-group">
                        <label for="passwordConf" class="font-weight-bold float-left">Confirmar Password Nova</label>
                        <input type="password" name="confnewpw" class="form-control border-danger" id="passwordConf">
                    </div>
                    <button type="submit" class="btn btn-outline-danger col-12">Alterar Password</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    /*ajustes de resize*/
    $(document).ready(function () {
        if ($(window).width() < 992) {
            $(".changePwCol").removeClass("col-6");
            $(".changePwCol").addClass("col-12");
        }
        else {
            $(".changePwCol").removeClass("col-12");
            $(".changePwCol").addClass("col-6");
        }
    });

    $(document).ready(function () {
        $(window).resize(function () {
            if ($(this).width() < 992) {
                $(".changePwCol").removeClass("col-6");
                $(".changePwCol").addClass("col-12");
            }
            else
            {
                $(".changePwCol").removeClass("col-12");
                $(".changePwCol").addClass("col-6");
            }
        });
    });

    /*mensagens de erro*/
    $(document).ready(function () {
        if (@ViewBag.Message == 400) {
            $("#erro400").removeClass("d-none");
        }

        if (@ViewBag.Message == 404) {
            $("#erro404").removeClass("d-none");
        }
    });
    
    /*Confere se as passwords são iguais*/
    $(document).ready(function () {
        $("#passwordConf").keyup(function () {
            if ($(this)[0].value != $("#passwordNew")[0].value) {
                $("#nomatch").removeClass("d-none");
            }
            else {
                $("#nomatch").addClass("d-none");
            }
        });
    });
</script>

