@{
    ViewData["Title"] = "Políticas de Privacidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4 class="border-bottom border-danger mb-3">Políticas de Privacidade</h4>

<p class="font-weight-bold">1. O Compromisso da PaulosAuto</p>

<p>
    A proteção da privacidade e dos Dados Pessoais constitui um compromisso fundamental da empresa para com os
    seus clientes e utilizadores dos seus serviços.
</p>

<p>
    A presente Política de Privacidade explica como recolhemos, protegemos, usamos e partilhamos informação sobre si,
    online e offline, esperando trazer-lhe acrescida confiança na PaulosAuto e melhorar a sua experiência connosco.
</p>

<p class="font-weight-bold">2. O que abrange esta política de proteção de dados?</p>

<p>
    Esta Política de Proteção de Dados aplica-se exclusivamente à recolha e tratamento de dados pessoais
    relativamente aos quais a PaulosAuto é responsável pelo respetivo tratamento, no âmbito da sua atividade.
</p>

<p>
    No website da PaulosAuto poderão estar incluídos links de acesso a outros websites que são alheios à PaulosAuto.
    A disponibilização de tais links é efetuada de boa-fé, não podendo a PaulosAuto ser responsabilizada pela recolha
    e tratamento de dados pessoais efetuados através desses websites, nem assumindo a PaulosAuto qualquer
    responsabilidade relativamente a tais websites, nomeadamente quanto à respetiva exatidão, credibilidade e
    funcionalidades disponibilizadas nos mesmos.
</p>

<p class="font-weight-bold">3. O que são dados pessoais?</p>

<p>
    Dados pessoais são qualquer informação, de qualquer natureza e independentemente do respetivo suporte,
    incluindo som e imagem, relativa a uma pessoa singular que possa ser identificada, direta ou indiretamente,
    designadamente por referência a um nome, número de identificação, dados de localização, identificadores por
    via eletrónica ou a um ou mais elementos específicos da sua identidade física, fisiológica, genética, mental,
    económica, cultural ou social.
</p>

<p class="font-weight-bold">4. Quem é o Responsável pelo Tratamento dos Dados?</p>

<ul class="list-unstyled">
    <li>Empresa: PaulosAuto – Peças e Auto Industriais, Lda.</li>
    <br />
    <li>Morada: Recta do Caçador, Rio de Loba, 3505-577 Viseu, Portugal</li>
    <br />
    <li>NIPC: 502 059 800</li>
    <br />
    <li>Contato: rgpd@paulosauto.pt / +351232470600</li>
    <br />
    <li>
        Sem prejuízo dos destinatários indicados ao longo desta Politica de Proteção de Dados, a PaulosAuto poderá
        comunicar
        os dados pessoais do Cliente/Utilizador, com a finalidade do cumprimento de obrigações legais nomeadamente a
        entidades policiais, judiciais, fiscais e reguladoras.
    </li>
</ul>

<p class="font-weight-bold">5. Quando e como recolhemos os seus dados pessoais?</p>

<p>
    A PaulosAuto recolhe os seus dados pessoais presencialmente, via telefónica, escrita ou através do seu website,
    garantindo, sempre que necessário, o prévio consentimento do titular dos dados pessoais.
    Em situação alguma, os dados recolhidos serão utilizados para outra finalidade que não seja
    aquela para a qual foram recolhidos ou dado o consentimento por parte do titular dos dados.
</p>

<p class="font-weight-bold">6. Quais os dados pessoais recolhidos?</p>

<p>
    A PaulosAuto, no âmbito da atividade que desenvolve, procede ao tratamento dos dados pessoais necessários
    à prestação de serviços e/ou fornecimento de produtos, tratando dados como o nome, a morada, o número de
    telefone, o endereço de correio eletrónico, número de contribuinte e data de nascimento conforme
    informação mais detalhada disponibilizada aos titulares de dados pessoais, sem prejuízo do cumprimento das
    normas legais relativas à conservação e transmissão de dados para fins de investigação, deteção, repressão
    de crimes graves, bem como de outros tratamentos a que se encontre legalmente obrigada.
</p>

<p>
    Caso exista consentimento prévio do Cliente/Utilizador, este poderá ser retirado a qualquer momento, sem que,
    contudo, a licitude do tratamento efetuado com base no consentimento previamente dado seja comprometida.
</p>

<p>
    Alguns dados pessoais são indispensáveis à execução do contrato e, em caso de falta ou insuficiência dos mesmos,
    a PaulosAuto não poderá disponibilizar o produto ou serviço em causa.
</p>

<p class="font-weight-bold">7. A quem comunicamos os seus dados?</p>

<p>
    Para garantir a conformidade dos produtos e serviços fornecidos, nomeadamente a garantia dos mesmos, a
    PaulosAuto poderá fornecer os seus dados aos parceiros, nomeadamente aos fornecedores de produtos e serviços
    ou Prestadores de serviços externos que executem funções em nosso nome, como prestadores de serviços
    informáticos e tecnológicos.
</p>

<p class="font-weight-bold">8. Qual a finalidade do tratamento dos dados pessoais?</p>

<p>Os dados pessoais que tratamos através desta página serão unicamente utilizados para as seguintes finalidades:</p>

<ul>
    <li>Processamento de encomendas, orçamentos e pedidos de informação</li>
    <li>Comunicação com clientes e esclarecimento de dúvidas</li>
    <li>Processamento de reclamações</li>
    <li>Atividades de análise estatística</li>
    <li> Verificar, manter e desenvolver sistemas e análises estatísticas</li>
    <li>Comunicações de marketing direto (caso tenha consentido para esta finalidade)</li>
    <li>Prevenção e combate à fraude</li>
</ul>

<p class="font-weight-bold">9. Por quanto tempo conservamos os seus dados?</p>

<p>
    A PaulosAuto observa as normas legais relativas aos prazos de conservação de dados pessoais, podendo
    conservar os mesmos, sem prejuízo das obrigações legais:
</p>

<ul>
    <li>Enquanto subsistirem obrigações emergentes de relação contratual</li>
    <li>Até que o titular dos dados exerça o seu “Direito ao Esquecimento”</li>
</ul>

<p class="font-weight-bold">10. Quais são os Direitos do titular dos dados?</p>

    <ul>
        <li>Direito de acesso, retificação e esquecimento dos seus dados</li>
        <li>Direito à limitação do tratamento</li>
        <li>Direito à portabilidade</li>
        <li>Direito de oposição</li>
        <li>Direito de não ficar sujeito a decisões individuais exclusivamente automatizadas</li>
        <li>Direito a retirar o seu consentimento</li>
        <li>Direito de apresentar reclamações junto da autoridade de controlo (CNPD)</li>
    </ul>
        
<p class="font-weight-bold">11. Quais são os Deveres do titular dos dados?</p>

    <p>O Titular dos dados compromete-se a atualizar a sua informação sempre que surjam alterações nos seus dados
    pessoais.</p>

    <p>Se o titular dos dados se aperceber de algum erro ou anomalia na informação recebida deverá comunicar 
    imediatamente por telefone (+351232470600) ou e-mail (rgpd@paulosauto.pt).</p>

<p class="font-weight-bold">12. Como asseguramos a seguranças dos seus dados?</p>

    <p>Para garantir a proteção e segurança dos dados pessoais que lhe são disponibilizados, a PaulosAuto tem 
    implementadas diversas medidas de segurança, técnicas e organizacionais, de forma a proteger os dados pessoais 
    contra a destruição, a perda, a alteração, a divulgação ou o acesso não autorizado ou contra qualquer outra 
    forma de tratamento ilícito.</p>

<p class="font-weight-bold">13. Questões e Sugestões</p>

    <p>O cliente/utilizador poderá contactar a PaulosAuto sobre todas as questões relacionadas com o tratamento 
    dos seus dados pessoais e com o exercício dos direitos que lhe são conferidos pela legislação aplicável 
    através de: rgpd@paulosauto.pt</p>

<p class="font-weight-bold">14. Alteração da Política de Privacidade</p>

    <p>Os presentes termos de tratamento de dados pessoais podem ser alterados a qualquer momento e sem aviso prévio.</p>

    <p>Essas alterações serão devidamente publicitadas no site em formato facilmente visível, para facilidade dos 
    clientes/utilizadores.</p>

    <p>A presente política de privacidade e proteção de dados pode ser consultada em PDF aqui.</p>

<script>
    /*Esconte link de logout caso user não tenha feito login*/
    $(document).ready(function () {
        if (@ViewBag.Message == 0) {
            $("#logoutLink").hide();
        }
        else {
            $("#logoutLink").show();
        }  
    });
</script>